<a routerLink="/feature">Load Feature</a>

<div class="d-flex justify-content-around">
  <div>
    <h1>Customers</h1>

    <app-customer-table
      [customers]="customers.all$ | async"
      (view)="customers.selectByKey($event); accounts.loadManyIfNecessary({ customerId: $event })"
    ></app-customer-table>
  </div>
  <div>
   <ng-container
    *ngIf="customers.current$ | async as customer"
   >
      <div>
        <h1>Customer</h1>

<!--        <app-edit-customer/>-->
      </div>
      <div>
        <h2>Accounts</h2>

<!--        <app-account-table-->
<!--          [accounts]="accounts.currentForCurrentCustomer$ | async"-->
<!--        ></app-account-table>-->
      </div>
   </ng-container>

    <ng-template #noSelection>
      <p>No Customer is selected</p>
    </ng-template>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
